<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <proxies>
        <!-- Values are inserted from GitHub Actions pipeline -->
        <proxy>
            <id>nb-proxy-http</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>http_proxy_host</host>
            <port>http_proxy_port</port>
            <nonProxyHosts>localhost|127.0.0.1|docker</nonProxyHosts>
        </proxy>
        <proxy>
            <id>nb-proxy-https</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>https_proxy_host</host>
            <port>https_proxy_port</port>
            <nonProxyHosts>localhost|127.0.0.1|docker</nonProxyHosts>
        </proxy>
    </proxies>
</settings>