server:
  port: 8087
  servlet:
    context-path: /bikube

management:
  endpoint:
    health:
      show-details: always
  server:
    port: 8088

spring:
  application:
    name: bikube
  webflux:
    base-path: /bikube
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://tools.nb.no/authn/realms/tekst/protocol/openid-connect/certs
      client:
        registration:
          keycloak-collections:
            client-id: ${KEYCLOAK_CLIENT_ID}
            client-secret: ${KEYCLOAK_CLIENT_SECRET}
            authorization-grant-type: client_credentials
            provider: keycloak
          keycloak-hugin:
            client-id: ${KEYCLOAK_HUGIN_CLIENT_ID}
            client-secret: ${KEYCLOAK_HUGIN_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            scope: openid
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            provider: keycloak
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI}
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: maxit

springdoc:
  swagger-ui:
    enabled: true
    use-root-path: false

security:
  enabled: false

collections:
  url: ${COLLECTIONS_URL}

maxit:
  url: ${MAXIT_URL}

alma:
  alma-sru-url: ${ALMA_SRU_URL}
  alma-ws-url: ${ALMA_WS_URL}
  api-key: ${ALMA_API_KEY}

# Keep default values to run Bikube without proxy
http-proxy:
  host: ""
  port: 0

search-index:
  enabled: true
  path: index-data
  initial-delay: 1000
  rebuild-index-delay: 1800000
  searcher-refresh-delay: 600000

vaadin:
  copilot:
    enable: false
  url-mapping: /hugin/*

logging:
  level:
    org.springframework.security: debug
    com.vaadin: debug
