apiVersion: apps/v1
kind: Deployment
metadata:
  name: bikube
  namespace: tekst-prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bikube
  template:
    metadata:
      labels:
        app: bikube
    spec:
      priorityClassName: medium-priority
      containers:
        - name: app
          image: harbor.nb.no/tekst/bikube:<version>
          ports:
            - name: app-port
              containerPort: 8087
            - name: actuator-port
              containerPort: 8088
          env:
            - name: INFO_ENVIRONMENT
              value: PROD
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
            - name: MAXIT_URL
              value: https://k8s.nb.no/maxit
            - name: COLLECTIONS_URL
              valueFrom:
                secretKeyRef:
                  name: collections-secret
                  key: COLLECTIONS_URL
            - name: COLLECTIONS_DIRECTLINK
              valueFrom:
                secretKeyRef:
                  name: collections-secret
                  key: COLLECTIONS_DIRECTLINK
            - name: KEYCLOAK_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: collections-secret
                  key: KEYCLOAK_CLIENT_ID
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: collections-secret
                  key: KEYCLOAK_CLIENT_SECRET
            - name: KEYCLOAK_ISSUER_URI
              valueFrom:
                secretKeyRef:
                  name: collections-secret
                  key: KEYCLOAK_ISSUER_URI
            - name: KEYCLOAK_HUGIN_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: KEYCLOAK_HUGIN_CLIENT_ID
            - name: KEYCLOAK_HUGIN_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: KEYCLOAK_HUGIN_CLIENT_SECRET
            - name: ALMA_SRU_URL
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: ALMA_SRU_URL
            - name: ALMA_WS_URL
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: ALMA_WS_URL
            - name: ALMA_API_KEY
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: ALMA_API_KEY
            - name: HTTP_PROXY_HOST
              valueFrom:
                secretKeyRef:
                  name: proxy1-secret
                  key: HTTP_PROXY_URL
            - name: HTTP_PROXY_PORT
              valueFrom:
                secretKeyRef:
                  name: proxy1-secret
                  key: HTTP_PROXY_PORT
            - name: POSTGRES_URL
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: POSTGRES_URL
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: POSTGRES_USERNAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: bikube-secret
                  key: POSTGRES_PASSWORD
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: actuator-port
            initialDelaySeconds: 30
            periodSeconds: 20
            failureThreshold: 3
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: actuator-port
            initialDelaySeconds: 30
            periodSeconds: 15
            failureThreshold: 3
            timeoutSeconds: 1

---

apiVersion: v1
kind: Service
metadata:
  name: bikube
spec:
  ports:
    - port: 8087
      name: rest
      targetPort: 8087
    - port: 8088
      name: http
      targetPort: 8088
  selector:
    app: bikube
  type: ClusterIP

---

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bikube-ingress
  namespace: tekst-prod
spec:
  ingressClassName: nginx
  rules:
    - host: <host_url>
      http:
        paths:
          - backend:
              service:
                name: bikube
                port:
                  number: 8087
            path: /bikube
            pathType: Prefix
    - host: <alt_host_url>
      http:
        paths:
          - backend:
              service:
                name: bikube
                port:
                  number: 8087
            path: /bikube
            pathType: Prefix
