name: Test tekst-workflows
on:
  pull_request:
    branches:
      - "**"

jobs:
  maven_pr_check:
    uses: NationalLibraryOfNorway/tekst-workflows/.github/workflows/maven-check.yml@main
    with:
      JDK_VERSION: 21
      MAVEN_VERSION: 3.9
      USE_MAVEN_SETTINGS_FILE: true
    secrets:
      VAULT_URL: ${{ secrets.NB_VAULT_URL }}
      VAULT_SECRET_PATH: ${{ secrets.TEKST_VAULT_SECRET_PATH }}
      VAULT_ROLE_ID: ${{ secrets.TEKST_VAULT_ROLE_ID }}
      VAULT_SECRET_ID: ${{ secrets.TEKST_VAULT_SECRET_ID }}
      S3_NB_HOST: ${{ secrets.S3_NB_CACHE_HOST }}
      S3_NB_ACCESS_KEY: ${{ secrets.S3_NB_CACHE_ACCESS_KEY }}
      S3_NB_SECRET_KEY: ${{ secrets.S3_NB_CACHE_SECRET_KEY }}
      S3_NB_CACHE_BUCKET: ${{ secrets.S3_NB_CACHE_BUCKET }}
